<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= player.surname %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= player.height %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= player.slug %>
  </p>

  <p>
    <strong>Hs year:</strong>
    <%= player.hs_year %>
  </p>

</div>
